.jumbotron {
  background-color: #246aaf;
  color: white;
  margin-top: 35px;
  margin-bottom: 25px;
}
.banner {
  margin: 0;
  height: 46px;
}
.banner h2 {
  float: left;
}
.banner img {
  float: right;
  width: 60%;
  height: 270%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.btn-adquirir:hover {
  background-color: #66a4e3;
  border-color: white;
}
footer {
  padding: 10px 10px 20px 10px;
  background-color: #246aaf;
  margin-top: 40px;
  margin-bottom: 0px;
  color: white;
}
footer a {
  text-decoration: underline;
  color: white;
}
.card-cancha {
  margin-top: 10px;
  margin-bottom: 0px;
  flex: 1 100px;
  min-width: 200px;
  padding: 0 10px 10px 10px;
}
.card-body {
  padding-bottom: 0px;
  height: 60%;
}
.card-footer {
  padding: 10px 0 0 0;
  background-color: white;
}
.card-header {
  background-color: white;
  margin-bottom: 0px;
}
.breadcrumb a {
  color: black;
}
.footer-address-icon {
  padding-right: 10px;
}
.adquirir-address-icon {
  padding-right: 5px;
  color: #dce7f3;
}
.table {
  text-align: center;
}
.oi-bolt {
  color: lightyellow;
}
.top-ind {
  background-color: white;
  padding-top: 15px;
}
.btn-adquirir {
  background-color: #3e89d3;
  border-color: white;
  color: white;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}
.card-img-top {
  padding-top: 10px;
}
.nav-pills .nav-link.active {
  color: #fff;
  background-color: #246aaf;
}
.tab-content {
  padding-top: 10px;
}
.card-medios .card-header {
  background-color: #343a40;
  color: white;
}
.card-medios .card-body {
  padding-bottom: 15px;
}
.card-medios .btn-medios {
  color: white;
}
